/* General layout */
.userPageContainer {
  background-color: #1e3a8a;
  /* Blue background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: ffffff;
  /* White text */
  padding: 20px;
  height: 240px;
  width: 300px;
  text-align: center;
  border-radius: 10%;
  /* margin-left: 20px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Buttons container */
.button-container {
  display: flex;
  justify-content: center;
  /* Centers the buttons horizontally */
  align-items: center;
  gap: 20px;
  /* Adds space between buttons */
  margin-top: 20px;
  /* Optional: Adds space above the buttons */
}


/* Text styling */
h1 {
  margin: 10px 0;
  margin-left: 400px;
}

h2 {
  color: #ffffff;
  font-size: 20px;
}

h1 {
  color: #4853d4;
  font-size: 50px;
}

h3 {
  margin-top: 60px;
  margin-bottom: 5px;
}

p {
  font-size: 10px;
  text-align: justify;
}

.step {}