
.step-info {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
    text-align: center;

  }
  
  .step-info h3 {
    margin-bottom: 10px;
    font-weight: bold;
   color: rgb(35, 35, 130);
   margin-bottom: -10px;
  }
  


