.progress-container {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 10px;
    display: flex;                
    justify-content: flex-start; 
    gap: 10px;                     
    flex-wrap: wrap; 
    background-color: rgba(255, 192, 203, 0.205);
    padding-top: 40px; 
    padding-bottom: 40px;
    padding-left: 20px; 
    padding-right: 20px; 
    width:300px;         
  }